body{
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
}
.navbar-brand logo{
    font-weight: 700;
    font-size: 2rem;
    color: white;

}
.logo{
    font-weight: 700;
    font-size: 2rem;
    color: white;
}
.nav-item {
    margin: 0 20px;
}

#main{
    background: url("./image/background@2x.png");
    background-size: cover;
    height: 120vh;
}

.header-main{
    margin-top: 50px;
}

.header-info{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    margin-top: 50px;
    color: white;
}
.iphone{
    font-size: 23rem;
    color:white;
}
}

.btn-d{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.over{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
}

.info{
    width: 70%;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;

}

.info-head{
    font-family: 'Lato', sans-serif;
    font-weight: 700; 
}
#overview{
    background: url("./image/div 1.png");
    background-size: cover;
    height: 120vh; 
}
.overlogo{
    font-size: 3rem;
    color: #ffff47;
}

.overlogo1{
    font-size: 3rem;
    color: white;
}


.over,.info,.info-head,.overlogo{
    padding: 1rem;
}

#testimonials{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    color: white;
    background-color: #ffff47;
    
}

.section-head{
    font-size: 3rem;
    padding : 2rem;
    text-align: center;

}

.author{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;

}

.text{
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
}

.carousel-item{
    padding: 7% 15%;
}

.box{
    box-shadow: 13px 14px 85px -48px rgba(0,0,0,0.75);
}

.card{
    text-align: center;
    border-radius: 10px;
    height: 25rem;
    width: 20rem;
}

.card btn{
    padding: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
}

.card-body{
    padding: 4% 8%;
}

#cta{
    background-color: #ffff47;
    text-align: center;
    padding: 8rem;
    margin-top: 8rem;
    color: blanchedalmond;
}

.cta-head{
    font-weight: bold;
}
.section-head{
    margin-top: 7rem;
}
#footer{
    height: 200px;
    text-align: center;
    }

.icon{
    color: #ffff47;
    font-size: 3rem;
    padding: 5% 7%;
}

@media only screen and (max-width: 1000px){
    body{
        font-size: 1rem;
    }
    .iphone{
        display: none;
    }
    #overview{
        background: none;
    }
    #main{
        height: 120vh; 
    }
    .overlogo1{
        color: #ffff47;
    }
    #overview{
        padding-top: 4rem;
        height: 70rem;
    }
    .card{
        margin: 20px 0px;
    }
    .header-info{
        font-family: 'Ubuntu', sans-serif;
        font-weight: 900;
        font-size: 2.5rem;
        margin-top: 50px;
        color:white;
    }
    .author{
        font-family: 'Ubuntu', sans-serif;
        font-size: 1rem;
    
    }
    
    .text{
        font-family: 'Lato', sans-serif;
        font-size: 1.5rem;
    }
    .card{
        text-align: center;
        border-radius: 10px;
        height: 20rem;
        width: 23rem;
        font-size: 1rem;
    }
    .cta-head{
        font-weight: bold;
        font-size: 2rem;
    }
    #footer{
        margin-right: 10px;
        text-align: right;
        }
    #cta{
            text-align: right;
            padding-top: 10px;
            padding-left: 5px;
            padding-right: 5px;
            height: 15rem;
            color: blanchedalmond;
        }
    #pricing{
        padding-top: 0rem;
        font-size: 1.5rem;
    }
    .section-head{
        padding-top: 0rem;
    }
    #footer{
            height: 150px;
            text-align: center;
            }
    .icon{
            color: #ffff47;
            font-size: 2rem;
            text-align: center;
        }
    
}